<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaseDataType.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Food.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>StudySwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>552135E81D863D98002C6897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>552135FC1D863D98002C6897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>552136071D863D98002C6897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5521361D1D863FEF002C6897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55B61EA21D8F884700710214</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55B61EB51D8F884700710214</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55B61EC01D8F884700710214</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
